.grid-container {
    display: grid;
    grid-template-areas: 
    "header header header"
    "main main main"
    "main main main"
    "main main main"
    "footer footer footer";
    grid-template-columns: minmax(min-content, 20vw) repeat(2, 1fr);
    background-color: blue;
}

.grid-header {
    grid-area: "header";
    height: 10vh;
}

.nav {
    position:relative;
    padding: 0em;
}

.nav__ul {
    width: 100%;
    height: 3em;
    position:fixed;
    z-index: 100;
}

nav__ul-li {
    display: inline-block;
    padding: 1em 1em 1em 0em;
    color:#7115e9;
    position: relative;
    left: 10em;
    opacity: 1;
}

.nav i {
    padding-right:.5em;
} 

.nav__ul-li a:hover{
    color:#7115e9;
}